@inherits BlazorLayoutComponent

<div class=@(collapseNavMenu ? "sidebar collapsed" : "sidebar")>
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <i class="oi oi-menu" onclick=@ToggleSidbar></i>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions {
    bool collapseNavMenu = false;

    void ToggleSidbar()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
